---
layout: default
---

{% include nav.html %}

<!-- Blog Detail Start -->

<!-- Header -->
<header id="header" class="ex-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Blog</h1>
				<p>Read our latest news</p>
			</div> <!-- end of col -->
		</div> <!-- end of row -->
	</div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->

<div id="blog" class="ex-basic-2">
	<div class="container">
		<div class="row">
			{% for post in site.posts %}
			<div class="col-lg-4 col-md-6">
				<div class="card mb-3">
					<img class="card-img" src="/assets/images/{{ post.banner_preview }}" alt="Post image">
					<div class="card-body">
						<h3 class="card-title">{{ post.title }}</h4>
						<p class="text-muted small">
							{{ post.date | date: "%B %-d, %Y" }}
						</p>
						<p class="card-text">{{ post.description }}</p>
						<a href="{{ site.baseurl }}{{ post.url }}" class="btn-solid-reg">Read More</a>
					</div>
				</div>

			</div>
			{% endfor %}
		</div>
	</div> <!-- end of container -->
</div> <!-- end of form-2 -->
