<!-- Footer -->
<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="footer-col">
					<h4>About OPENschool</h4>
					<p>We give more freedom to the students to use their imagination and creativity to guide their own learning. We
						design schools from the perspective of the students.</p>
				</div>
			</div> <!-- end of col -->
			<div class="col-md-4">
				<div class="footer-col middle">
					<h4>Navigate</h4>
					<ul class="list-unstyled li-space-lg">
						<li class="media">
							<i class="fas fa-square"></i>
							<div class="media-body"><a class="turquoise page-scroll" href="#header">Home</a></div>
						</li>
						<li class="media">
							<i class="fas fa-square"></i>
							<div class="media-body"><a class="turquoise page-scroll" href="#works">Works</a></div>
						</li>
						<li class="media">
							<i class="fas fa-square"></i>
							<div class="media-body"><a class="turquoise page-scroll" href="#concept">Concept</a></div>
						</li>
						<li class="media">
							<i class="fas fa-square"></i>
							<div class="media-body"><a class="turquoise page-scroll" href="#contact">Contact</a></div>
						</li>
					</ul>
				</div>
			</div> <!-- end of col -->
			<div class="col-md-4">
				<div class="footer-col last">
					<h4>Social Media</h4>
					<span class="fa-stack">
						<a href="https://at.linkedin.com/company/openschool-solutions">
							<i class="fas fa-circle fa-stack-2x"></i>
							<i class="fab fa-linkedin-in fa-stack-1x"></i>
						</a>
					</span>
				</div>
			</div> <!-- end of col -->
		</div> <!-- end of row -->
	</div> <!-- end of container -->
</div> <!-- end of footer -->
<!-- end of footer -->


<!-- Copyright -->
<div class="copyright">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<p class="p-small">Copyright © 2021 OPENschool Solutions - All rights reserved</p>
			</div> <!-- end of col -->
		</div> <!-- enf of row -->
	</div> <!-- end of container -->
</div> <!-- end of copyright -->
<!-- end of copyright -->
