---
layout: default
---

{% include nav.html %}

<!-- Blog Detail Start -->

<!-- Header -->
<header id="header" class="ex-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>{{ page.title }}</h1>
				<p>{{ page.date | date: "%B %-d, %Y" }}</p>
			</div> <!-- end of col -->
		</div> <!-- end of row -->
	</div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->

<!-- Privacy Content -->
<div class="ex-basic-2">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 offset-lg-1">
				<div class="text-container">
					{{content}}
					<a class="btn-outline-reg back" href="index.html">BACK</a>
				</div> <!-- end of col-->
			</div> <!-- end of row -->
		</div> <!-- end of container -->

		<div class="row">
			{% if page.previous.url %}
			<div class="col-6">
				<a href="{{ site.baseurl }}{{page.previous.url}}" class="blog-nav">
					<p class="text-right">
						< Older</p>
				</a>
			</div>
			{% endif %}

			{% if page.next.url %}
			<div class="col-6">
				<a href="{{ site.baseurl }}{{page.next.url}}" class="blog-nav">
					<p class="text-left">Newer ></p>
				</a>
			</div>
			{% endif %}
		</div>
	</div> <!-- end of ex-basic-2 -->
	<!-- end of privacy content -->
</div>
